html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#map {
  height: 100%;
}

.hidden {
  display:none;
}

/* Menu CSS */

footer {
  position: absolute;
  bottom: -20px;
  margin: 0;
  width: 100%;
  height: 10%;
}

footer .menu span {
  float: left;
  font-family: 'Creepster', cursive;
  font-size: 55px;
  margin: 0 15px;
  letter-spacing: 15px;
  vertical-align: 50%;
}

.menu {
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:100%; 
  background: rgba(200,200,200,0.8);
  position:absolute; 
  text-align:center;
}

.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}

.menu li { 
  margin: 0;
  display: inline-block;
  padding: 15px 0 15px 0; 
  border-bottom: transparent 1px solid;
}

.menu li:hover { 
  background: rgba(200,200,200,0.8);
  padding: 15px 0 15px 0; 
}

.menu ul li a { 
  text-decoration:none; 
  color: #000;
  font-size: 2em; 
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px 15px; 
}

.menu ul li a:hover {  
  color: red;
  text-decoration: none;
}
