html, body, main {
  height: 94.5vh;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
#map {
  height: 94.5vh;
}
.hidden {
  display: none;
}
.pop-up {
  position: absolute;
  height: 75%;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: #FFF;
  z-index: 10;
}

/* Menu CSS */

footer {
  position: absolute;
  margin: 0;
  width: 100%;
  height: auto;
}
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.5em;
  width: 100%;
  height: auto;
  background: rgba(227, 205, 163, 0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
ul li {
  border-bottom: transparent 1px solid;
  padding: 0 .5em 0 .5em;
  flex-basis: 20em;
  margin: 2em;
}

/*.menu li:hover {
  background: rgba(200, 200, 200, 0.8);
  padding: 15px 0 15px 0;
}*/

.menu a {
  font-size: 4.5em;
  letter-spacing: .5em;
  text-decoration: none;
  color: black;
}
.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 2em;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: .5s ease;
}
.menu ul li a:hover {
  color: white;
  text-decoration: none;
  background: rgb(199, 121, 102);
  padding: 15px 10px 15px 10px;
  border-radius: 1.5em;
}

/*==================/
   Register Page
/==================*/

.form-flex {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(47, 52, 59);
}
.register-title {
  display: block;
  width: 100%;
  flex-basis: 2.5em;
  text-align: center;
  color: white;
}
.form-flex h2 {
  color: white;
  text-align: center;
  letter-spacing: .5em;
  font-size: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid white;
}
.form-flex form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vh;
  background-color: #C77966;
  border-radius: 1.5em;
  padding: 3em;
}
.form-flex form input, button {
  margin: .5em;
  width: 50vh;
  font-size: 1.2em;
  padding: .5em 1em .5em 1em;
  box-shadow: 0 0 20px rgba(24, 24, 24, 0.4);
}
.form-flex form input {
  border-radius: 1em;
  border: none;
}
.form-flex form button {
  background-color: inherit;
  color: white;
  border: 2px white solid;
  font-size: 1.5em;
  align-self: flex-end;
  transition: .5s ease;
}
.form-flex form button:hover {
  background-color: rgb(47, 52, 59);
  border-radius: 1em;
  cursor: pointer;
}

/*==================/
 Character Show Page
/==================*/

.flex-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* PC bars styling */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress#health-value[value]::-webkit-progress-value {
  background-color: red;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress#armour-value[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, grey, white);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress#thirst-value[value]::-webkit-progress-value {
  background-color: blue;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
