@viewport {
  width: device-width;
}

html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.05em;
  font-family: 'Special Elite', sans-serif;
  overflow-y: hidden;
}

#map {
  min-height: 100%;
}

.hidden {
  display: none;
}

.pop-up {}

#title {
  font-family: 'Creepster';
  color: rgba(255, 255, 255, .8);
  letter-spacing: 0.2em;
  font-size: 3em;
  position: absolute;
  left: 0.2em;
  bottom: 2em;
  z-index: 1000;
}

#content, #content-event {
  justify-content: center;
  max-height: 65%;
  max-width: 85%;
  align-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: rgba(255, 255, 255, .8);
  padding: 1.5em;
  color: black;
  z-index: 10;
  text-align: center;
  border-radius: 0.5em;
}

#content-event {

  background: rgba(255, 255, 255, .8);
  max-width: 90%;
  font-size: 1em;
}

#close {
  margin: 0;
}

#content #close, #content-event #close {
  text-decoration: none;
  color: #000;
  font-size: 150%;
  align-self: flex-end;
  margin: -0.1em;
}

#content-event h3{
 width: 100%;
 font-size: 1.3em;
 margin: 0;
}

.choices-container{
  background: rgba(255, 255, 255, .8);
  max-width: 90%;
  height: 90%;
}

.choice-title{
  width: 100%!important;
  display: block;
  text-align: center!important;
}

.choice-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  width: 90%;
  height: auto;
}
#content #close:hover, #content-event #close:hover {
  color: #FFF;
}

#close-profile {
  text-decoration: none;
  color: #000;
  font-size: 150%;
}

.choice1, .choice2, .choice3 {
  font-size: 1em;
  margin: .2em;
  padding: .5em;
  transition: .5s ease;
  cursor: pointer;
  text-align: center;
}

.choice1:hover, .choice2:hover, .choice3:hover {
  background: rgb(199, 121, 102);
}

.choice-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#hud {
  position: absolute;
  top: 1em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);

  height: auto;
  text-align: center;
  font-size: 1em;
}

/* Menu CSS */

.menu {
  z-index: 1000;
  font-weight: bold;
  font-size: 0.5em;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 6em;
  background: rgba(0,0,0, 1);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu ul {
  list-style-type: none;
  list-style-image: none;
  display: flex;
  display-direction: row;
  width: 80%;
  left: 0;
  right: 0;
  align-content: center;
  justify-content: space-between;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 5em;
  height: 100%;
  flex-grow: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: .5s ease;
}

.menu ul li a:hover {
  color: #b30000;
}


/*==================/
   Register Page
/==================*/

.form-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  overflow-y: scroll;
}

.register-title {
  display: block;
  width: 100%;
  flex-basis: 2.5em;
  text-align: center;
  color: white;
  font-family: 'Bitter';

}

form h2 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-size: 1em;
}

form {
  font-family: 'Raleway';
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 90%;
}

form input, button {
  font-family: 'Special Elite', sans-serif;
  margin: .3em 0em;
  width: 100%;
  font-size: 1.2em;
}

form button {
  color: black;
  border: 2px black solid;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

form button:hover {
  background-color: rgb(47, 52, 59);
  border-radius: 1em;
  cursor: pointer;
}

/*==================/
 Character Show Page
/==================*/

.flex-container {
  text-align: left;
  flex-wrap: wrap;
  z-index: 1;
  width: 100%;
  height: auto;
}

/* PC bars styling */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress#health-value[value]::-webkit-progress-value {
  background-color: red;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress#armour-value[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, grey, white);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress#thirst-value[value]::-webkit-progress-value {
  background-color: blue;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*pc styling*/

.pc-info {
  width: 100%;
}
.pc-info p, progress {
  margin: .5em;
}
.pc-info .left {}

.delete-user {
  text-decoration: none;
  text-transform: uppercase; 
  color: #b30000;
  border: 2px #b30000 solid;
  padding: 0.2em;
  margin: 0.1em;
}

/* RESPONSIVE STYLING */

@media (max-width: 800px) {

  #content {
    max-height: 85%;
    width: 60%;
  }

  .flex-container {
    min-width: 100%;
  }

  .pc-info {
    width: 100%;
  }

  .pc-info progress {
    min-width: 100%;
  }

  progress[value] {
    height: 35px;
  }

@media (max-width: 400px) {

  #title {
    font-size: 2em;
    bottom: 1.5em;
  }
  .pc-info progress {
    width: 90%;
  }

  #content-event {
    width: 90%;
  }
}

@media (max-width: 350px) {

  #title {
    font-size: 1.5em;
    bottom: 2.2em;
  }

  #content {
    max-height: 85%;
    max-width: 90%;
  }

  form input, button {
    margin: .1em 0em;
    width: 100%;
    font-size: 1em;
  }

  progress[value] {
    height: 25px;
    margin: 0.1em;
  }
}
