
<a href="#" aria-label="Close Account Info Modal Box" id="close">&cross;</a><br>

<div class="flex-container">

  <div class="pc-info">
    <p>Health:</p>
    <progress id="health-value" value="<%= user.health %>" max="100">
      <%= user.health %>
    </progress>
    <p>Armour:</p>
    <progress id="armour-value" value="<%= user.armour %>" max="100">
      <%= user.armour %>
    </progress>
    <p>Food:</p>
    <progress id="food-value" value="<%= user.food %>" max="100">
      <%= user.food %>
    </progress>
    <p>Water:</p>
    <progress id="water-value" value="<%= user.water %>" max="100">
      <%= user.water %>
    </progress>
  </div>
</div>


<a href="#" data-id="<%= user._id%>" class="delete-user btn btn-danger logged-in">Delete</a>