<div id="tutorial">
<h1>How to Play</h1>

<p>Welcome to Zoogle. Are you prepared to scavenge and survive in zombie-infested central London?</p>
<br>
<p>On the map there are resources scattered across the map. Travel to these locations and investigate to find items to help you survive in the apocalypse.</p>
<br>
<p>Watch out when travelling to locations in Red Zones; these areas are where enemy encounters are more frequent.</p>
<br>
<p>Good luck, survivor.</p>
<button class="btn btn-primary">Continue</button>
</div>